
body {
    margin: 0;
    // background-image: url(../images/bg/background-polygons@2x.png),linear-gradient(-180deg, $myColor 0,#F38501 100%);
}


.accent-color {
    color: $myColor;
}

.block {
    display: block;
}