
.intro {
	min-height: 100vh;
	background: $dark;
	width: 100%;
    position: relative;
    overflow: hidden;
    @include media($medium-screen){
		top: 0;
		left: 0;
	}
}

.intro-header {
    position: relative;
    z-index: 5;
    padding-top: 30vh;
    font-size: 2vw;
    @include media($medium-screen){
        font-size: 1.8vw;
    }
}

.intro-header-title {
    font-size: 5em;
    line-height: $base-line-height;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    @include media($medium-screen){
        font-size: 3em;
    }
    @include media($large-screen){
        font-size: 2.5em;
    }
}


.intro-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.intro-image {
    background-image: url('../images/intro-bg-1.svg');
	position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
	width: 100%;
    filter: blur(3px);
	opacity: 0.2;
    z-index: 3;
    @include media($medium-screen){
		max-width: 60%;
        filter: blur(2px);
	    opacity: 0.3;

	}
    @include media($large-screen){
		max-width: 45%;
	}
}
.intro-image-2 {
	@include media($large-screen){
        background-image: url('../images/intro-bg-2.svg');
		position: absolute;
        top: 0;
        left: 40vw!important;
        bottom: 0;
        background-size: cover;
		width: 30%;
        filter: blur(4px);
		opacity: 0.2;
        z-index: 1;
	}
}
.intro-image-3 {
	@include media($medium-screen){
        background-image: url('../images/intro-bg-2.svg');
		position: absolute;
        top: 0;
        left: 65vw!important;
        bottom: 0;
		background-size: cover;
        width: 50%;
		filter: blur(3px);
        opacity: 0.2;
        z-index: 2;
	}
}





.intro-nav {
    display: none;
    @include media($medium-screen) {
        position: absolute;
        z-index: 4;
        left: 50%;
        top: 80vh;
        margin-left: -3em;
        background: $light;
        width: 6em;
        height: 6em;
        padding: 2em;
        border-radius: 50%;
        font-size: 0.5em;
        display: block;
        border-bottom: none;
        opacity: (0.15);
        transition: all .3s ease;
        &:hover {
            top: 80.5vh;
            opacity: (0.30);
        }
    }
}

.intro-nav-arrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    left: -1em;
    top: 0.3em;
    border-style: solid;
    border-width: 2em 2em 0 2em;
    border-color: $dark transparent transparent transparent;
    transform: rotate(360deg);
    transition: all .3s ease;
    &:after {
        content:'';
        position:absolute;
        top:-2.2em;
        left:-2em;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 2em 2em 0 2em;
        border-color: $light transparent transparent transparent;
        transform: rotate(360deg);
    }
}

