
.benefits {
    min-height: 100vh;
    color: white;
    // background-image: url(../images/bg/background-polygons@2x.png),linear-gradient(-180deg,#2FAE90 0,#2F92AE 34%,#5286D4 51%,#4B89CD 100%);
    // background-image: url(../images/bg/background-polygons@2x.png),linear-gradient(-180deg, #3546F1 0,#E10CFE 100%);
    background-color: #492766;
    overflow: hidden;
    margin-top: -120px;
    padding-top: 120px;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 98%);
    // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 98%);
}


.bullets {
    @include outer-container;
}
.bullet-container {
    @include span-columns(10);
    @include shift(1);
    @include media($medium-screen){
        @include span-columns(6);
        @include shift(3);
    }
}

.section-a {
    width: 66vw;
    min-height: 60vh;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto 1fr;
    background: linear-gradient(135deg, #aa3bb1, #582a7e);
    box-shadow: 0 30px 50px -20px rgb(46, 6, 66);
    grid-gap: 1rem;
    padding: 3rem;
    position: relative;
    p {
        padding: 2rem;
    }
}

.section-a-bg {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}


.behind,
.front {
    position: absolute;
    writing-mode: vertical-lr;
    left: -25px;
    top: 0;
    white-space: nowrap;
}
.behind {
    color: yellow;
}


.bullet {
    $bullet-bg: #fff;
    $bullet-border-color: rgba(255, 255, 255, 0.1);

    background: $bullet-bg;
    border-bottom: 1px solid $bullet-border-color;
    padding: 1em 0;
    will-change: opacity;
    margin: 10rem 0;
    box-shadow: 0 0 100px rgba(0,0,0, .1);
    &:last-child {
        border-bottom: none;
        margin-bottom: 3em;
    }

    @include media($large-screen) {
        @include row(table);
        padding: 0;
    }

    .bullet-image {
        padding: 1em 1em 0 1em;
        @include media($large-screen) {
            @include span-columns(3);
            padding: 4em 0;
        }
    }

    .bullet-content {
        @include span-columns(12);
        padding: 1em;
        vertical-align: middle;
        @include media($large-screen) {
            @include span-columns(9);
            padding: 3em 0;
        }
    }
    @include reset-display();
}

.js-fade-in {
    opacity: 0;
    transition: all 0.5s ease-in;
    &.fade-in {
        opacity: 1;
    }
}
