
.about {
    min-height: 100vh;
    background-color: #E8E9EB;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include outer-container;
}

.card {
  $card-base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: rgba(0, 0, 0, 0.1);
  $card-border: 1px solid $card-border-color;
  $card-background: #ffffff;
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  background-color: $card-background;
  border: $card-border;
  box-shadow: 0 2px 4px darken($card-background, 10%);
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 $card-margin $card-base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;

  .card-image {
    background-color: $card-image-hover-color;
    height: 150px;
    max-height: 150px;
    overflow: hidden;

    img {
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    font-weight: bold;
    padding: ($card-base-spacing / 3) ($card-base-spacing / 2);
    transition: all 0.2s ease-in-out;
  }

  .card-copy {
    font-size: 0.9em;
    padding: ($card-base-spacing / 2) ($card-base-spacing / 2);
    p {
      margin: 0 0 ($card-base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}