
$about-section-bg: #fff;

.about {
    min-height: 100vh;
    color: #fff;
    background-image: url(../images/bg/background-polygons@2x.png), linear-gradient(-180deg,#4B89CD 0, #2FAE90 100%);
    overflow: hidden;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include outer-container;
  @include media($medium-screen) {
    margin-top: 10vh;
  }
}

.card {
  $card-base-spacing: 2em;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: rgba(255, 255, 255, 0.1);
  $card-border: 1px solid $card-border-color;
  $card-border-radius: 4px;
  $card-background: transparent;
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  background-color: $card-background;
  border-bottom: $card-border;
  flex-basis: 20em;
  flex-grow: 1;
  position: relative;
  transition: all 0.2s ease-in-out;
  padding: 3em 0;
  @include media($medium-screen) {
    padding: 1em 0 0;
    border-bottom: none;
    border-right: $card-border;
    &:first-child {
      text-align: right;
    }
    &:last-child {
      border-right: none;
    }
  }




  .card-image {
    height: 100px;
    max-height: 100px;
    overflow: hidden;
    padding: 0 3em;

    img {
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }

  .card-header {
    background-color: $card-header-background;
    padding: 2em 3em 1em;
    transition: all 0.2s ease-in-out;
    h3 {
      margin-bottom: 0;
    }
  }

  .card-copy {
    padding: 1em 3em;
    li {
      margin-bottom: 8px;
    }
  }
}
