@use "../libs/animate";

@use "font-stacks";
@use "css-variables";
@use "variables";

@use "global";

@use "buttons";
@use "forms";
@use "layout";
@use "lists";
@use "media";
@use "tables";
@use "typography";

@use "global-animations";
@use "section-intro";
@use "section-benefits";
@use "section-work";
@use "section-about";
@use "section-contact";

@use "footer";