@use "sass:math";
@use "variables" as *;


fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing * 0.5;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing * 0.5;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}


[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  appearance: none;
  background-color: var(--base-background-color);
  border: $base-border;
  border-radius: var(--base-border-radius);
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: calc(var(--base-spacing) / 3);
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: var(--base-border-color-hover);
  }

  &:focus {
    border-color: var(--action-color);
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: var(--base-background-color-disabled);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: var(--placeholder-color);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing * 0.5;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;
}