@use "variables" as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 $base-spacing;
  width: 100%;
}