
.benefits {
    min-height: 100vh;
    color: white;
    background-image: url(/images/bg/background-polygons@2x.png),linear-gradient(-180deg,#2FAE90 0,#2F92AE 34%,#5286D4 51%,#4B89CD 100%);
    overflow: hidden;
}


.bullets {
    @include outer-container;
}
.bullet-container {
    @include span-columns(10);
    @include shift(1);
    @include media($medium-screen){
        @include span-columns(6);
        @include shift(3);
    }
}


.bullet {
    $bullet-bg: #fff;
    $bullet-border-color: rgba(255, 255, 255, 0.3);

    border-bottom: 1px solid $bullet-border-color;
    padding: 1em 0;
    &:last-child {
        border-bottom: none;
        margin-bottom: 3em;
    }

    @include media($large-screen) {
        @include row(table);
        padding: 0;
    }

    .bullet-image {
        padding: 1em 1em 0 1em;
        @include media($large-screen) {
            @include span-columns(3);
            padding: 4em 0;
        }
    }

    .bullet-content {
        @include span-columns(12);
        padding: 1em;
        vertical-align: middle;
        @include media($large-screen) {
            @include span-columns(9);
            padding: 3em 0;
        }
    }
    @include reset-display();
}
