.benefits {
    min-height: 100vh;
    color: white;
    background-image: url(/images/bg/background-polygons@2x.png), linear-gradient(-180deg, #2FAE90 0, #2F92AE 34%, #5286D4 51%, #4B89CD 100%);
    overflow: hidden;
}


.bullets {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.bullet-container {
    // Mobile first: default block/full width or almost full
    width: 83.333%;
    margin-left: 8.333%;

    @media (min-width: $medium-screen) {
        width: 50%;
        margin-left: 25%;
    }
}


.bullet {
    $bullet-bg: #fff;
    $bullet-border-color: rgba(255, 255, 255, 0.3);

    border-bottom: 1px solid var(--bullet-border-color);
    padding: 1em 0;

    &:last-child {
        border-bottom: none;
        margin-bottom: 3em;
    }

    @media (min-width: $large-screen) {
        display: table; // Was mixin row(table)
        width: 100%;
        padding: 0;
    }

    .bullet-image {
        padding: 1em 1em 0 1em;

        @media (min-width: $large-screen) {
            display: table-cell;
            vertical-align: top;
            width: 25%; // span-columns(3) -> 3/12 = 25%
            padding: 4em 0;
        }
    }

    .bullet-content {
        // span-columns(12) -> 100%
        width: 100%;
        padding: 1em;
        vertical-align: middle;

        @media (min-width: $large-screen) {
            display: table-cell;
            width: 75%; // span-columns(9) -> 9/12 = 75%
            padding: 3em 0;
        }
    }
}