@use "variables" as *;

.intro {
    min-height: 100vh;
    background: var(--dark);
    width: 100%;
    position: relative;
    overflow: hidden;

    @media (min-width: $medium-screen) {
        top: 0;
        left: 0;
    }
}

.intro-header {
    position: relative;
    z-index: 5;
    padding-top: 30vh;
    font-size: 2vw;

    @media (min-width: $medium-screen) {
        font-size: 1.8vw;
    }
}

.intro-header-title {
    font-size: 5em;
    line-height: $base-line-height;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    @media (min-width: $medium-screen) {
        font-size: 3em;
    }

    @media (min-width: $large-screen) {
        font-size: 2.5em;
    }
}


.intro-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.intro-image {
    background-image: url('/images/intro-bg-1.svg');
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    width: 100%;
    filter: blur(3px);
    opacity: 0.2;
    z-index: 3;

    @media (min-width: $medium-screen) {
        max-width: 60%;
        filter: blur(2px);
        opacity: 0.3;

    }

    @media (min-width: $large-screen) {
        max-width: 45%;
    }
}

.intro-image-2 {
    @media (min-width: $large-screen) {
        background-image: url('/images/intro-bg-2.svg');
        position: absolute;
        top: 0;
        left: 40vw !important;
        bottom: 0;
        background-size: cover;
        width: 30%;
        filter: blur(4px);
        opacity: 0.2;
        z-index: 1;
    }
}

.intro-image-3 {
    @media (min-width: $medium-screen) {
        background-image: url('/images/intro-bg-2.svg');
        position: absolute;
        top: 0;
        left: 65vw !important;
        bottom: 0;
        background-size: cover;
        width: 50%;
        filter: blur(3px);
        opacity: 0.2;
        z-index: 2;
    }
}





.intro-nav {
    display: none;

    @media (min-width: $medium-screen) {
        position: absolute;
        z-index: 4;
        left: 50%;
        top: 80vh;
        margin-left: -3em;
        background: var(--light);
        width: 6em;
        height: 6em;
        padding: 2em;
        border-radius: 50%;
        font-size: 0.5em;
        display: block;
        opacity: 0.15;
        animation: fadeInWithDelay 1s backwards 2s; // 1s duration, 2s delay, backwards fill (hidden during delay)
        transition: top 0.3s ease, opacity 0.3s ease; // Keep existing hover transitions

        &:hover {
            top: 80.5vh;
            opacity: 0.30;
        }
    }
}

@keyframes fadeInWithDelay {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.15;
    }
}

.intro-nav-arrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    left: -1em;
    top: 0.3em;
    border-style: solid;
    border-width: 2em 2em 0 2em;
    border-color: var(--dark) transparent transparent transparent;
    transition: all .3s ease;

    &:after {
        content: '';
        position: absolute;
        top: -2.2em;
        left: -2em;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 2em 2em 0 2em;
        border-color: var(--light) transparent transparent transparent;
    }
}