@use "variables" as *;

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  text-rendering: optimizeLegibillity;
  -moz-font-feature-settings: "dlig";
  font-feature-settings: "dlig";
}


// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: 1.5em;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: 700;

}

p {
  margin: 0 0 $small-spacing;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

a {
  color: var(--action-color);
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: var(--action-color-hover);
  }
}

b,
strong {
  font-weight: 700;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

.section-header {
  text-align: center;
  padding-top: 5vh;
  font-size: 2vw;

  @media (min-width: $medium-screen) {
    font-size: 1.8vw;
  }

  .header {
    font-size: 4em;

    @media (min-width: $medium-screen) {
      font-size: 2.5em;
    }

    @media (min-width: $large-screen) {
      font-size: 1.5em;
    }
  }
}