// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: $font-stack-general;
$heading-font-family: $font-stack-headings;

// Font Sizes
$base-font-size: 1.05em;

// Line height
$base-line-height: 1.55;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: var(--base-border-radius);
$base-spacing: 1.55em;
$small-spacing: calc($base-spacing / 2);
$base-z-index: 0;

// Colors
$myColor: var(--my-color);
$mySecondaryColor: var(--my-secondary-color);
$dark: var(--dark);
$light: var(--light);

$blue: var(--blue);
$dark-gray: var(--dark-gray);
$medium-gray: var(--medium-gray);
$light-gray: var(--light-gray);

// Font Colors
$base-font-color: var(--base-font-color);
$action-color: var(--action-color);

// Border
$base-border-color: var(--base-border-color);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: var(--base-background-color);
$secondary-background-color: var(--secondary-background-color);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba($blue, 0.5); // Simplified adjust-color

// Animations
$base-duration: 150ms;
$base-timing: ease;